<h1>User Account {{userQuery.name}}</h1>

{{#if userQuery.deleted}}
 <div class='alert alert-warning text-center  mt-3 mb-3' role='alert'>
    <h4 class="font-weight-bolder m-0">{{userQuery.deleteMessage}}</h4>
  </div>
{{/if}}

<form action="/login/user" method="POST" class="form mb-4">
    <label>Title</label>
    <input type="text" class="form-control" name="title">
    <label>Price</label>
    <input type="number" class="form-control" name="price">
    <label>Discount</label>
    <input type="text" class="form-control" name="discount">
    <label>Quantity</label>
    <input type="number" class="form-control" name="quantity">
    <br>
    <button type="submit" class="btn btn-success">
        Add New Product
    </button>
</form>

<h2>Added Products</h2>
{{#if product}}
<div>
    {{#each product}}
    <div class="card mr-2" >
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text"> Price : {{price}} € </p>
            <h5 class="card-title"> Discount:{{discount}}%</h5>
            <a class="btn btn-warning" href="/login/user/update/{{_id}}" >Update</a>
            <a class="btn btn-danger" href="/login/user/delete/{{_id}}" >Delete</a>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}